/*styles for home content only*/


.home {
  color: red;
}
.logo{
  text-align:center;
}
.logo img{
  height:60px;
}
.welcome-text p, .welcome-text h3{
  letter-spacing:0.5px;
  text-align:center;
}
.loginForm input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

